<h3> Edit the Trip </h3>

<%= render partial: "form", locals: { action_name: "Edit Trip", verb: "update" } %>

<br>
<br>
<%= link_to "Back to the Trip's Page", trip_path(@trip) %>
<br>
<%= link_to "Back to Homepage", root_path %>

