<h3> Add a New Trip </h3>

<%= render partial: "form", locals: { action_name: "New Trip", verb: "Create" } %>

<br>
<br>
<%= link_to "Back to Trips List", trips_path %>
<br>
<%= link_to "Back to Homepage", root_path %>