<%= render partial: "form", locals: { action_name: "Edit Passenger", verb: "update" } %>
<% if @passenger.errors.any? %>
  <h1>Errors</h1>
  <ul class="errors">
    <% @passenger.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>
