<h3> Edit the Driver </h3>

<%= render partial: "form", locals: { action_name: "Edit Driver", verb: "update" } %>

<br>
<br>
<%= link_to "Back to the Driver's Page", driver_path(@driver) %>
<br>
<%= link_to "Back to Homepage", root_path %>
