/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  background-color: #68a6da;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
}

header {
  height: 75px;
  background-color: #b2b2bd;
}

header section {
  padding: 7px;
}

header section li {
  display: inline;
}

#title {
  float: left;
  font-weight: bold;
  font-size: 20px;
  margin-left: -15px;
}

#function {
  float: right;
  margin-right: 30px;
  margin-top: 2.5px;
}

main {
  flex: 1;
  margin: 20px;
}

footer {
  text-align: center;
  font-size: 0.9em;
}